lightning_logs/*
data/scaled_features/*
data/music/*
data/scaled_features.tar.gz
.idea/*
test_data/*
inference/*.npy
training/experiments/*
**/*.pyc
analaysis/aistplusplus_api/SMPL_MALE.pkl
analaysis/aistplusplus_api/img/*
inference/generated/*
analysis/weight_mats/*
data/videos/*
