lightning_logs/*
.idea/*
inference/*.npy
training/experiments/*
**/*.pyc
analysis/aistplusplus_api/SMPL_MALE.pkl
analysis/aistplusplus_api/img/*
inference/generated/*
analysis/weight_mats/*
analysis/tmp/*
analysis/visualization/img/*
ones_to_check.txt
ones_to_check2.txt
!training/experiments/block_placement_ddc2
!training/experiments/block_placement_ddc2/opt.json
#data
data/features/*
data/aistpp/videos/*
data/aistpp/music/*
data/aistpp/fullset.zip
data/aistpp/aist_plusplus_final/*
data/videos/*
data/moglow_loc.tar.gz
data/moglow_loc/*
data/scaled_features/*
data/music/*
data/scaled_features.tar.gz
test_data/*
data/aistpp_mixamo_bvh.tar.gz
data/features_20/*
data/features_20.tar.gz
