numpy
scipy
librosa
pytorch-lightning
#torch
pandas
matplotlib
mpi4py
scikit-learn==0.24.1
joblib
smplx
transforms3d
x-transformers
madmom
ftfy
axial_positional_embedding
einops
entmax
madgrad
lightning-bolts
loguru
mido
